{{define "header"}}

<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<ul class="nav navbar-nav navbar-right">
			<li>
				<a href="#"><i class="fa fa-user"></i>欢迎您，{{.Name}}</a>
			</li>
			<li>
				<a href="/web/user/logout"><i class="fa fa-sign-out"></i>退出</a>
			</li>
		</ul>
	    <div class="navbar-header">
	        <a class="navbar-brand" href="#">电科导航lorawan平台</a>
	    </div>
	    <div>
	        <ul class="nav navbar-nav">
	            {{if .DM}}
	            <li class="dropdown">
	                <a href="#" class="dropdown-toggle" data-toggle="dropdown">设备绑定<b class="caret"></b></a>
	                <ul class="dropdown-menu">
	            		{{if .DM.Bind}}
	            		<li><a href="#">绑定设备</a></li>
	            		<li><a href="#">解绑设备</a></li>
	            		{{end}}
	                </ul>
	            </li>
	            {{end}}

	            {{if .SYS}}
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">设备管理<b class="caret"></b></a>
					<ul class="dropdown-menu">
						{{if .SYS.UserManagement}}
						<li><a href="#" data-toggle="modal" data-target="#device_dlg_add">添加设备</a></li>
						<li><a href="#" data-toggle="modal" data-target="#device_dlg_modify">修改设备</a></li>
						{{end}}
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">系统管理<b class="caret"></b></a>
					<ul class="dropdown-menu">
						{{if .SYS.UserManagement}}
						<li><a href="#" data-toggle="modal" data-target="#user_dlg_add">添加用户</a></li>
						<li><a href="#" data-toggle="modal" data-target="#user_dlg_modify">修改用户</a></li>
						{{end}}
					</ul>
				</li>
				{{end}}

				{{if .Mine}}
				<li class="dropdown">
					<a href="#" id="mine" class="dropdown-toggle" data-toggle="dropdown">我的<b class="caret"></b></a>
					<ul class="dropdown-menu">
						{{if .Mine.Setting}}
						<li><a href="#">设置</a></li>
						{{end}}
					</ul>
				</li>
				{{end}}
	        </ul>
	    </div>
	</div>
</nav>
{{end}}