<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>{{.Title}}</title>
	<link rel="stylesheet" type="text/css" href="/3rd/lib/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/3rd/lib/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/3rd/css/index.min.css">
	<link rel="stylesheet" type="text/css" href="/css/lorawan.css">
	<!-- <link rel="stylesheet" href="https://js.arcgis.com/3.23/esri/css/esri.css"> -->
	<link rel="stylesheet" href="/3rd/lib/esri/3.23/css/esri.css">
	<script type="text/javascript" src="/3rd/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="/3rd/lib/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/tips.js"></script>
	<!-- <script src="https://js.arcgis.com/3.23/"></script> -->
	<script src="/3rd/lib/esri/3.23/js"></script>
	<script type="text/javascript" src="/js/map.js"></script>
	<style>
		#HomeButton {
			position: absolute;
			top: 265px;
			left: 20px;
			z-index: 50;
		}
	</style>
</head>

<body>
	<div class="row-container">
		<button type="button" id="left_click" class="btn btn-primary">l</button>
		<button type="button" id="right_click" class="btn btn-primary">r</button>
		<button type="button" id="up_click" class="btn btn-primary">u</button>
		<button type="button" id="down_click" class="btn btn-primary">d</button>
		<div class="first-row">
			{{ template "header".Header }}
		</div>
		<div class="second-row" id="map">
			<div id="HomeButton"></div>
		</div>
	</div>
	{{ template "user_dlg_add" }} {{ template "user_dlg_modify" }} {{ template "device_dlg_add" }}
</body>
<script>
	$(document).ready(show_map())
	document.getElementById('left_click').onclick=function(){
		map_pan_left();
	}

	document.getElementById('right_click').onclick=function(){
		map_pan_right();
	}

	document.getElementById('up_click').onclick=function(){
		map_pan_up();
	}

	document.getElementById('down_click').onclick=function(){
		map_pan_up();
	}
</script>
</html>